include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/iauthfunctions *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/iauthfunctions/migration *.ini *.py *.mako
