# generic
.DS_Store
.vagrant
.vscode/
# code & config
_service-provider/*
_solr/schema.xml
_src/*
local/*
.github/*
ckan/*
nginx/*
postgresql/*
.env.example
venv/

/templates/
public/
views/
plugins/
logic/
__pycache__/