#graph-container {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(rgb(155, 204, 204), rgb(217, 179, 209), rgb(202, 204, 155)); */
    background: rgb(40, 40, 40);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.versiontree {
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.versiontree tr {
    width: 30%;
}

.renderButton {
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.buttonClass {
    padding: 5px;
    border-radius: 5px;
}

.node-box {

    fill: #000000;
    stroke: #FFFFFF;
    stroke-width: 2px;
    opacity: 0;
    pointer-events: none;
    /* Ignore mouse events on the rectangle box */
}

.node-text {
    fill: #FFFFFF;
    font-size: 12px;
    text-anchor: middle;
    opacity: 0;
    pointer-events: none;
    /* Ignore mouse events on the tooltip text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node circle {
    fill: #dddddd;
    stroke: #000000;
    stroke-width: 2px;
}

.node:hover .node-box,
.node:hover .node-text {
    opacity: 1;
}

svg .link {
    stroke: #ffffff;
}