<div class="AttendanceDiv2" id="attendanceDiv2">
    <div class="headerQn">
        <h3 id="Attendance">Attendance:
            <select id="AttendanceSelect" onchange="Attendance()">
                <option value="Attended">Attended</option>
                <option value="Unable to Attend">Unable to Attend</option>
                <option value="Failed to Attend">Failed to Attend</option>
            </select>
        </h3>
    </div>
    <div class="categories" id="Attendancecategories">
        <div class="subCategory">
            <div class="subHeader">
                <h4 id="AttendanceQn2">Not Attending: </h4>
            </div>
            <div class="allInputTexts">
                <div class="eachInputText">
                    <label id="AttendanceNotAttendingReasonLabel" for="AttendanceNotAttendingReason">Reason For
                        Not
                        Attending: </label>
                    <input id="AttendanceNotAttendingReason" type="text" placeholder="Reason For Not Attending"
                        onchange="forInputTexts(this)">
                </div>
                <div class="eachInputText">
                    <label id="AttendanceNotAttendingRescheduleDateLabel"
                        for="AttendanceNotAttendingRescheduleDate">Rescheduled Date: </label>
                    <input id="AttendanceNotAttendingRescheduleDate" type="date" placeholder="Reschedule Date"
                        onchange="forInputTexts(this)">
                </div>
            </div>
        </div>
    </div>
</div>