<div class="OEDiv2" id="oeDiv2">
    <div class="headerQn">
        <h3 id="OE2">O/E: Change C/C to 'Pain' to select O/E</h3>
    </div>
    <div class="categories" id="OEcategories">
        <div class="subCategory">
            <div class="subHeader">
                <h4 id="OElocationQn2">Location: </h4>
            </div>
            <div class="allButtons">
                <div class="eachButton">
                    <label for="OElocationUpper2">Upper</label>
                    <input id="OElocationUpper2" type="checkbox" onclick="forCheckBox(this)"
                        placeholder="Upper"></input>
                    <label id="OElocationUpper2Label" for="OElocationUpper2"></label>
                </div>
                <div class="eachButton">
                    <label for="OElocationLower2">Lower</label>
                    <input id="OElocationLower2" type="checkbox" onclick="forCheckBox(this)"
                        placeholder="Lower"></input>
                    <label id="OElocationLower2Label" for="OElocationLower2"></label>
                </div>
                <div class="eachButton">
                    <label for="OElocationRHS2">RHS</label>
                    <input id="OElocationRHS2" type="checkbox" onclick="forCheckBox(this)"
                        placeholder="RHS"></input>
                    <label id="OElocationRHS2Label" for="OElocationRHS2"></label>
                </div>
                <div class="eachButton">
                    <label for="locationLHS2">LHS</label>
                    <input id="OElocationLHS2" type="checkbox" onclick="forCheckBox(this)"
                        placeholder="LHS"></input>
                    <label id="OElocationLHS2Label" for="OElocationLHS2"></label>
                </div>
            </div>
            <div class="allInputTexts">
                <div class="eachInputText">
                    <label id="OElocationToothLabel2" for="OElocationTooth2">Tooth: </label>
                    <input id="OElocationTooth2" type="text" placeholder="Tooth" onchange="forInputTexts(this)">
                </div>
                <div class="eachInputText">
                    <label id="OElocationOthersLabel2" for="OElocationOthers2">Others: </label>
                    <input id="OElocationOthers2" type="text" placeholder="Others"
                        onchange="forInputTexts(this)">
                </div>
            </div>
        </div>
    </div>
</div>