<div class="RFADiv2" id="rfaDiv2">
    <div class="headerQn">
        <h3 id="RFA2">RFA: </h3>
    </div>
    <div class="categories" id="RFAcategories">
        <div class="subCategory">
            <div class="subHeader">
                <h4 id="RFAReason4AttendanceQn2">Reason For Attendance: </h4>
            </div>
            <div class="allButtons">
                <div class="eachButton">
                    <label for="RFAReason4AttendanceCheckUp">Check Up</label>
                    <input id="RFAReason4AttendanceCheckUp" type="checkbox" onclick="forCheckBox(this)"
                        placeholder="Check Up"></input>
                    <label id="RFAReason4AttendanceCheckUpLabel" for="RFAReason4AttendanceCheckUp"></label>
                </div>
                <div class="eachButton">
                    <label for="RFAReason4AttendanceAcuteCare">Acute Care</label>
                    <input id="RFAReason4AttendanceAcuteCare" type="checkbox" onclick="forCheckBox(this)"
                        placeholder="Acute Care"></input>
                    <label id="RFAReason4AttendanceAcuteCareLabel" for="RFAReason4AttendanceAcuteCare"></label>
                </div>
                <div class="eachButton">
                    <label for="RFAReason4AttendanceSC">S/C</label>
                    <input id="RFAReason4AttendanceSC" type="checkbox" onclick="forCheckBox(this)"
                        placeholder="S/C"></input>
                    <label id="RFAReason4AttendanceSCLabel" for="RFAReason4AttendanceSC"></label>
                </div>
            </div>
            <div class="allInputTexts">
                <div class="eachInputText">
                    <label id="RFAReason4AttendanceRestorationLabel"
                        for="RFAReason4AttendanceRestoration">Restoration:
                    </label>
                    <input id="RFAReason4AttendanceRestoration" type="text" placeholder="Restoration"
                        onchange="forInputTexts(this)">
                </div>
                <div class="eachInputText">
                    <label id="RFAReason4AttendanceOthersLabel" for="RFAReason4AttendanceOthers">Others:
                    </label>
                    <input id="RFAReason4AttendanceOthers" type="text" placeholder="Others"
                        onchange="forInputTexts(this)">
                </div>
            </div>
        </div>
    </div>
</div>