<div class="TOPDiv2" id="topDiv2">
    <div class="headerQn">
        <h3 id="top2">TOP: </h3>
    </div>
    <div class="categories" id="TOPcategories">
        <div class="subCategory">
            <div class="subHeader">
                <h4 id="TOPQn2">Timeout Procedure: </h4>
            </div>
            <div class="allInputTexts">
                <div class="eachInputText">
                    <label id="TOPYesOrNoLabel" for="TOPYesOrNo">Yes or No: </label>
                    <input id="TOPYesOrNo" type="text" placeholder="Yes / No" list="TOPYesOrNoList"
                        onchange="forInputTexts(this)" />
                    <datalist id="TOPYesOrNoList">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
</div>