include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/packagecontroller *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/packagecontroller/migration *.ini *.py *.mako
