include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/text_view *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/text_view/migration *.ini *.py *.mako
