include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datasetform *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datasetform/migration *.ini *.py *.mako
