{% import "macros/form.html" as form %}

{% for user_id in userlist %}
    <div>User ID: {{ user_id }}</div>
{% endfor %}
<h1>CREATING GROUP FORM</h1>
{% block form %}
    <form id="group-edit" class="dataset-form" action="listOfUsers" method="post" data-module="basic-form" enctype="multipart/form-data">
        {{ h.csrf_input() }} 
        {% block error_summary %}
            {{ form.errors(error_summary) }}
        {% endblock %}
        
        {% block basic_fields %}
            {% set attrs = {'data-module': 'slug-preview-target', 'class': 'form-control'} %}
            {{ form.input('title', label=_('Name'), id='field-name', placeholder= _('My Group'), classes=['control-full'], attrs=attrs) }}
        
            {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-group'), attrs=attrs, is_required=true) }}
        
            {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my group...')) }}
        {% endblock %}

        {{ form.required_message() }}

        <div class="form-actions">
            <input class="btn btn-primary" name="save" type="submit">{% block save_text %}{{ _('Save Group') }}{% endblock %}</input>
          </div>
    </form>
{% endblock %}
<div>
    {% if result != None %}
        <h2>This is the new group that is created</h2>
        {% for key, val in result.items() %}
            <p>{{ key }} : {{ val }}</p>
        {% endfor %}
    {% endif %}
</div>