include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/versiontree *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/versiontree/migration *.ini *.py *.mako
