{% set intro = g.site_intro_text %}

<div class="module-promotion card box">
    <div>
        {% if intro %}
        {{ h.render_markdown(intro) }}
        {% else %}
        <h1 class="page-heading">{{ _("Introducing DataVerse:") }}</h1>
        <p>
            {% trans %}
            Your Comprehensive Data Catalogue for Efficient Dataset Control and Access
            {% endtrans %}
        </p>
        {% endif %}
    </div>

    {% block home_image %}
    <section class="featured media-overlay hidden-xs">
        <h2 class="media-heading">{% block home_image_caption %}{{ _("This is our logo that doesn't exist yet :)") }}{% endblock %}</h2>
        {% block home_image_content %}
        <a class="media-image" href="#">
            <img class="img-fluid" src="{{ h.url_for_static('/base/images/placeholder-420x220.png') }}"
                alt="Supposed to be our logo but we don't have one yet." />
        </a>
        {% endblock %}
    </section>
    {% endblock %}
</div>